{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}

    <h1>Edit password</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <div class="row">

        {% for message in app.flashes('password') %}
            <div class="alert alert-danger alert-dismissible fade show">
                <div class="sb-msg"><i class="icon-thumbs-up"></i>{{ message }}</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        <div class="col-md-12 mb-3">
            {{ form_label(form.oldPassword) }}
            {{ form_widget(form.oldPassword) }}
            {% if not form.oldPassword.vars.valid %}
                {% for error in form.oldPassword.vars.errors %}
                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-md-12 mb-3">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first) }}
            {% if not form.password.first.vars.valid %}
                {% for error in form.password.first.vars.errors %}
                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-md-12 mb-3">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second) }}
            {% if not form.password.second.vars.valid %}
                {% for error in form.password.second.vars.errors %}
                    <div class="alert alert-danger margin-top-10">{{ error.message }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-md-12 mb-3">
            <button type="submit" class="btn btn-success">Edit</button>
        </div>

    </div>

    {{ form_end(form) }}

{% endblock %}



